body
{
  /* you better change this stuff */
  margin: 30px;
  font-family: Georgia;
  color: black;
  background-color: #556B2F;
  font-size: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figure {
	width: 50%;
	height: auto;
	text-align: center;
	margin: auto;
}
figcaption {
	font-style: italic;
	text-align: center;
}
h1, h2, h3, div {
	text-align: center;
}
div {
  width: 300px;
  border: none;
  padding: 50px;
  margin: auto;
  
}

p {
	text-align: center;
}

ul {
	list-style-type: circle;
	list-style-position: inside;
}



