body
{
  
  margin: 30px;
  font-family: Georgia;
  color: #c55f4e;
  background-color: #654321;  //925946
  font-size: 150%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figure {
	width: 50%;
	height: auto;
	text-align: center;
	margin: auto;
}
figcaption {
	font-style: italic;
	text-align: center;
}
h1, h2, h3, div {
	text-align: center;
}
div {
  width: 300px;
  border: none;
  padding: 10px;
  margin: auto;
  
}

header nav{
	text-align: center;
	color: #ca8462;
}
nav {
  display: inline;
  padding-right: 30px;
  text-align: center;
  font-size: 175%;
  color: #ca8462;
}
nav a {
	padding: 16px;
	text-decoration: none;
	font-size: 20px;
	color: #ca8462;
	
}

p {
	text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  text-align: left;
}
li a{
  border-right: 1px solid #bbb;
  display: inline;
}

li:not(:last-child) {
  border-right: none;
  
}

footer{
	text-align: center;
}


/*unvisited link*/
a:link {
  color: #ca8462;
}

/* visited link */
a:visited {
  color:#ca8462;
}

/* mouse over link */
a:hover {
  color: pink;
}

/* selected link */
a:active {
  color: blue;
}


/*centering a button*/
.container { 
  height: 200px;
  position: relative;
  border: 3px solid green; 
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
