body {
  
  margin: 30px;
  font-family: Georgia;
  color: #c55f4e;
  background-color: #654321;   /*925946*/
  font-size: 150%;
}

figure {
	width: 50%;
	height: auto;
	text-align: center;
	margin: auto;
}

figcaption {
	font-style: italic;
	text-align: center;
}

h1, h2, h3 {
	text-align: center;
}

div {
  width: 300px;
  border: none;
  padding: 10px;
  margin: auto;
  
}

header nav{
	text-align: center;
	color: #ca8462;
	display: inline;
	font-size: 125%;
	font-family: arial;
}


/*nav {
  display: inline;
  padding-right: 30px;
  text-align: center;
  font-size: 125%;
  color: #ca8462;
}
*/

/*p {
	text-align: left;
}
*/

/*ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  text-align: left;
}
li a{
  border-right: 1px solid #bbb;
  display: inline;
}

li:not(:last-child) {
  border-right: none;
  
}
*/

footer nav, footer {
	text-align: center;
	font-family: arial;
}


/*unvisited link*/
a:link {
  color: #ca8462;
}

/* visited link */
a:visited {
  color:#ca8462;
}

/* mouse over link */
a:hover {
  color: pink;
}

/* selected link */
a:active {
  color: blue;
}
